body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: #083d4f;
}

h1, h2, h3 {
  margin: 0;
}

nav {
  background-color: #70c1b3;
  display: flex;
  justify-content: center;
  padding: 12px;
  gap: 32px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color;
}

nav a:hover {
  color: #083d4f;
}

header {
  background-color: #1b9aaa;
  padding: 32px;
  color: white;
  text-align: center;
}

.heading p {
  font-size: 17.6px;
  margin-bottom: 16px;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

button {
  background-color: #0f4c5c;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color;
}

button:hover {
  background-color: #70c1b3;
}

.container {
  padding: 32px;
  max-width: 900px;
  margin: 0 auto;
}

.intro {
  background-color: #a3d5d3;
  padding: 32px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.projects {
  padding: 48px 32px;
  background-color: whitesmoke;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  margin-top: 45px;
}

.project-card {
  background-color: #d1f0ec;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform ease-in-out;
  cursor: pointer;
}

.project-card:hover {
  background-color: #b3e5e0;
}

footer {
  background-color: #0f4c5c;
  color: white;
  text-align: center;
  margin-top: 35px;
  padding: 19.5px;
  font-size: 14.5px;
}

footer a {
  color: white;
  margin: 5px;
  transition: color;
}

footer a:hover {
  color: #a3d5d3;
}
